%h2 About
%p kc.io is a free job board for the Kansas City Web/Tech community.  I started messing around with Ruby & Sinatra and this is what happened.  It is a work   in progress, and definintely needs a lot of work.  But, in the spirit of "releasing early & often," I figured I'd throw it out there.  Use it, Mock it, Hack it, Ignore it.   You pick.  The code is up on Github if you wanna tinker.  
%a{:href => "http://www.github.com/rriggin/kc.io"} Github Repo
%br
%br
%p If you're interested in a super clean ruby framework that'll give you just the basics and allow you to build simple ruby apps, I'd highly recommend it. You can check it out here:
%a{:href => "http://www.sinatrarb.com"} Sinatra

