%h2 About
%p This is a free job board for the Kansas City Web/Tech community.  I started messing around with Ruby & Sinatra and this is what happened.  It is a work   in progress, and definintely needs a lot of work.  But, in the spirit of "releasing early & often," I figured I'd throw it out there.  Use it, Mock it, Hack it, Ignore it.   You pick.  The code is up on Github if you wanna tinker.  
%a{:href => "http://www.github.com/rriggin/kc.io"} Github Repo
%br
%br
%p I know there are a lot of job sites out there, but I needed something simple to build to get a feel for sinatra.  If anyone out there in the tech/startup community thinks it might be useful, let me know.  We can build a couple of features on top of it to make it useable (i.e, a real submission form with resume upload, user & customer profiles, better authentication framework, etc)  
%br
%p If you're interested in a super clean ruby framework that'll give you just the basics and allow you to build simple ruby apps, I'd highly recommend it. You can check it out here:
%a{:href => "http://www.sinatrarb.com"} Sinatra

%h2 Other tools used: 
%a{:href => "http://www.datamapper.org/"} Datamapper
%a{:href => "http://www.heroku.com"} Heroku
%a{:href => "http://www.postgresql.org"} Postgres
%a{:href => "http://www.haml.info"} Haml
%a{:href => "https://github.com/maxjustus/sinatra-authentication"} Sinatra Authentication
%a{:href => "http://twitter.github.io/bootstrap/"} Twitter Bootstrap
%a{:href => "http://fortawesome.github.io/Font-Awesome/"} Font Awesome
