    <div class="well row-fluid" style="margin-top:25px;">
        <div class="span3">
            ...................
        </div>

        <div class="span3">
            ...................
        </div>

        <div class="span3">
            ...................
        </div>

        <div class="span3">
            ...................
        </div>
    </div>