<div class="row-fluid" style="margin-top:25px;">
    <div class="row-fluid">
        <h1 class="text-center">The Kansas City Web/Tech Scene is off the Hook.  <br> So .... We need a place to post all the Jobs.</h2>
   	</div>

   	<div class="row-fluid" style="margin-top:20px;">
   		<div class="span2">
		</div>
   		<div class="well media span4">
			<a class="pull-left" href="#">
				<i class="icon-building icon-4x"></i>
			</a>
			<div class="media-body">
			<h4 class="media-heading">For Companies:</h4>
	    	<p>Defined as: A 'Group' of people trying to hire another person to work with them.</p>
	 		</div>
	 		<a class="btn btn-block btn-success" href="new"><i class="icon-pushpin icon-large"></i> &nbsp; Post Your Job for Free</a>
		</div>
		<div class="well media span4">
			<a class="pull-left" href="#">
				<i class="icon-user icon-4x"></i>
			</a>
			<div class="media-body">
			<h4 class="media-heading">For Job Seekers:</h4>
	    	<p>Defined as: 'One' person trying to find a group of KC people to work with.</p>
	 		</div>
	 		<a class="btn btn-block btn-success" href="/list"><i class="icon-search icon-large"></i> &nbsp; Find Yourself a Kick Ass Job</a>
		</div>
		<div class="span2">
		</div>
   	</div>
</div>