<form class="form-horizontal" action="/create" method="post" id="ad" enctype="multipart/form-data">
  <h1>Post New Job</h1>
  <div class="control-group">
    <label class="control-label">Job/Role</label>
    <div class="controls">
      <input class="span6" type="text" name="job[title]" id="input" placeholder="Job Title">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Company Name</label>
    <div class="controls">
      <input class="span6" type="text" name="job[company]" id="input" placeholder="Company Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Website</label>
    <div class="controls">
      <input class="span6" type="text" name="job[website]" id="url" placeholder="Website">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Job Description</label>
    <div class="controls">
      <textarea rows="6" name="job[description]" id="input" class="input-block-level"></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-large">Post This Job</button>
    </div>
  </div>
</form>